<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DocV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.XLS" publicKeyToken="663f351905198cb3" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.1.4.61040" newVersion="10.1.4.61040"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DocV2.Properties.Settings>
      <setting name="path" serializeAs="String">
        <value />
      </setting>
      <setting name="s1" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s2" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s3" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s4" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s5" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s6" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s7" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="s8" serializeAs="String">
        <value>입력 (더블 클릭)</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SystemFontName" serializeAs="String">
        <value>맑은 고딕</value>
      </setting>
      <setting name="SheetFontName" serializeAs="String">
        <value>맑은 고딕</value>
      </setting>
      <setting name="SheetFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="견적서ExportHeaderFontName" serializeAs="String">
        <value>Malgun Gothic</value>
      </setting>
      <setting name="견적서ExportHeaderFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="거래명세서ExportHeaderFontName" serializeAs="String">
        <value>Malgun Gothic</value>
      </setting>
      <setting name="거래명세서ExportHeaderFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="견적서ExportTableFontName" serializeAs="String">
        <value>Malgun Gothic</value>
      </setting>
      <setting name="견적서ExportTableFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="거래명세서ExportTableFontName" serializeAs="String">
        <value>Malgun Gothic</value>
      </setting>
      <setting name="거래명세서ExportTableFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ToolbarEnabled" serializeAs="String">
        <value>True</value>
      </setting>
    </DocV2.Properties.Settings>
  </userSettings>
</configuration>
